<header>
    <h1>
        <div>Request<div>
    </h1>
</header>

<table>
    <tbody>
        <tr>
            <td>Start Date:</td>
            <td><%= @cat_rental_request.start_date %></td>
        </tr>

        <tr>
            <td>End Date:</td>
            <td><%= @cat_rental_request.end_date %></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><%= @cat_rental_request.status %></td>
        </tr>
    </tbody>
</table>

<br>

<footer>
    <a class="link" href="<%=cats_url%>">Back to all cats</a>
</footer>