ul {
    display: flex;
    justify-content: space-between;
    display: block;
    float: left;
}

ul > li {
    color: white;
    background-color: #2A3132;
    font-weight: 600;
    border: black;
    border-style: solid;
}

li > a {
    color: white;
    font-size: large;
}

table {
    background-color: beige;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: black;
    border-style: solid;
}

form {
    background-color: beige;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: black;
    border-style: solid;
}