footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #2A3132;
    justify-content: center;
    position: relative;

}

.link {
    background-color: beige;
    color: blue;
    padding: 1px;
    font-weight: 600;
    font-size: 20px;
    border: black;
    border-style: solid;
}