header > h1 {
    display: flex;
    margin: 0 auto;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    
    position: relative;
    text-align: center;
    border-style: solid;

    justify-content: center;
    
    background-color: #336B87;
}

h1 > div {
    color: cornsilk;
    
    border-style: solid;
}