header > h1 {
    display: flex;
    width: 300px;
    margin: 0 auto;
    background-color: beige;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border-style: solid;
}