<header>
    <h1>All Cats</h1>
<header>
    
<ul>
    <%@cats.each do |cat|%>
        <li>
            <a href="<%= cat_url(cat) %>">
                <%= cat.name%>
            </a>
        </li>
    <%end%>
</ul>

<footer>
    <div>
        <a class="link" href="/cats/new">Add a cat to the collection!</a>
    </div>

    <div>
        <a class="link" href="<%= new_cat_rental_request_url %>">Make a Rental Request!</a>
    </div>
</footer> 